HTTP_PORT=8087
GRPC_PORT=10003
DATABASE_URL="postgresql://postgres:123@localhost:5432/refina_investment?schema=public"
DB_MAX_OPEN_CONN=10          
DB_MIN_IDLE_CONN=2           
DB_IDLE_TIMEOUT_MS=30000     
DB_CONNECTION_TIMEOUT_MS=5000
LOG_LEVEL=silly
METAL_PRICE_API_KEY=09af68dceff4d31716dd869a66cf93fe
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=123
RABBITMQ_VIRTUAL_HOST=refina